<p id="notice"><%= notice %></p>

<h1>
  <%= check_box_tag :task_done, '', @task.done %>
  <%= @task.title %>
</h1>

<p>
  <strong>Project:</strong>
  <%= link_to @task.project.name, @task.project %>
</p>

<%= link_to 'Edit', edit_task_path(@task), class: 'btn btn-link' %> |
<%= link_to 'Back', tasks_path, class: 'btn btn-link' %>

<h2>Comments</h2>

<hr>

<ol>
	<% @task.comments.each do |comment| %>
		<li>
			<h4><%= comment.name %></h4>
			<blockquote><p><%= comment.body %></p></blockquote>
		</li>
	<% end %>
</ol>

<%= form_for([ @task, @task.comments.build ]) do |f| %>
	<div class="row">
		<div class="col-md-6">
			<p class='form-group'>
				<%= f.text_field :name, placeholder: 'Name', class: 'form-control' %>
			</p>
		</div>
		<div class="col-md-6">
			<p class='form-group'>
				<%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
			</p>
		</div>
	</div>

	<p class='form-group'>
		<%= f.text_area :body, rows: 8, col: 50, class: 'form-control' %>
	</p>

	<p>
		<%= f.submit class: 'btn btn-primary' %>
	</p>
<% end %>